body{
	margin:0;
	padding:20px;
	font-size:1em;
	font-family: arial, sans-serif;
}
h1{
	text-align: center;
	font-size:1.75em;

}
.block{
	float:left;
	border:1px solid black;
	padding:5px;
	box-sizing: border-box;
	position: relative;
	background-color: #aaa;
    padding-top:35px;
}
.title{
	position:absolute;
	right: 0px;
	top: 0px;
	border: 1px solid black;
	text-align: center;
	width: 100px;
	height:30px;
	clear: right;
	font-weight: bold;
    font-size: 1.25em;
}
.orangebg{
	background-color: #FFA500;
}
.redbg{
 background-color: #FF4500;
}
.yellowbg{
  background-color: #FFD700;

}

@media (min-width: 992px) {
    .col-lg-4{ width:32%; margin-left:1%; }
}
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6{ width:46%; margin-left:2%; margin-right:2%;}
    .col-md-12{ width:96%; margin-right:2%; margin-left:2%;margin-top:20px;}
}
@media (max-width: 767px) {
    .col-sm-12{  width:96%; margin-right:2%; margin-left:2%; margin-top:20px; }
}